{% extends 'base.html' %}
{% block title %}Iniciar Sesi&oacute;n{% endblock %}
{% block content %}
<style>
:root {
/* Aqui van variables de colorer, etc */
}

html {
box-sizing: content-box;
/*font-size: 62.5%;*/
scroll-behavior: smooth;
}


.form-container {
display: flex;
justify-content: center;
align-items: center;
}

#login-form {
padding: 18rem 3rem;
}

</style>
<section class="d-flex justify-content-center">
    <form method="post" id="login-form">
      {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="username" name="username" autocapitalize="none" autofocus="" autocomplete="username" maxlength="150" required="" class="form-control" />
          <label class="form-label" for="username">Usuario</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" autocomplete="current-password" required="" class="form-control" />
          <label class="form-label" for="password">Contraseña</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
      </form>
</section>
{% endblock %}