{% extends 'base.html' %}
{% block title %}{{ media.title }}{% endblock %}
{% load static %}
{% block content %}
<!--INICIO DETALLE CONTENIDO-->
<section class="container-fluid">
    <br>
    <h1 class="text-center">{{ media.title }}</h1>
    <div class="d-lg-flex flex-column align-items-center">
        {% if media.content_type == 'file' %}
            <div class="col-md-4 px-0">
                <img src="{{ media.cover.url }}" class="img-fluid" alt="{{ media.title }}">
            </div>
        {% elif media.content_type == 'video' %}
            <video width="320" height="auto">
                <source src="{{ media.video.url }}" type="video/mp4">
            </video>
        {% elif media.content_type == 'image' %}
            <div class="d-flex align-items-center vw-25">
                <img src="{{ media.img.url }}" class="img-fluid" alt="{{ media.title }}">
            </div>
        {% else %}
            <div class="ratio ratio-16x9">
                <iframe 
                src="{{ media.link }}" 
                class="embed-responsive-item" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        {% endif %}
        <div class="col-md-8 px-50">
            <br>
            {% if media.author %}<h5 class="lh-lg">{{ media.author }}</h5>{% endif %}
            {% if media.summary %}<p class="lh-base">{{ media.summary }}</p>{% endif %}
            {% if media.file %}
                <button type="button" class="btn btn-primary">
                    <a class="text-decoration-none text-white" href="{{ media.file.url }}">Leer</a>
                </button>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger">
                <a href="{% url 'delete' media.content_type media.id %}" class="text-decoration-none text-white">
                    Eliminar
                </a>
            </button>
            <button type="button" class="btn btn-primary">
                <a href="{% url 'update' media.content_type media.id %}" class="text-decoration-none text-white">
                    Editar
                </a>
            </button>
        </div>
        {% endif %}
    </div>
</section>
<!--FIN DETALLE CONTENIDO-->
{% endblock content %}