{% extends 'base.html' %}
{% block title %}{{ media.title }}{% endblock %}
{% load static %}
{% block content %}
<!--INICIO DETALLE CONTENIDO-->
<section class="container-fluid">
    <br>
    <h1 class="text-center">{{ media.title }}</h1>
    <div class="d-lg-flex flex-column align-items-center">
        {% if media.content_type == 'file' %}
            <div class="col-md-4 px-0">
                <img src="{{ media.cover.url }}" class="img-fluid" alt="{{ media.title }}">
            </div>
            <div class="col-md-8 px-50">
                <br>
                <h5 class="lh-lg">{{ media.author }}</h5>
                <p class="lh-base">{{ media.summary }}</p>
                <a class="btn btn-primary" type="button" href="{{ media.file.url }}">Leer</a>
            </div>
        {% elif media.content_type == 'video' %}
            <video width="320" height="auto">
                <source src="{{ media.video.url }}" type="video/mp4">
            </video>
            <div class="col-md-8 px-50">
                <h5 class="lh-lg">{{ media.author }}</h5>
                <p class="lh-base">{{ media.summary }}</p>
            </div>
        {% elif media.content_type == 'image' %}
            <div class="d-flex align-items-center vw-25">
                <img src="{{ media.img.url }}" class="img-fluid" alt="{{ media.title }}">
            </div>
        {% else %}
        <div class="ratio ratio-16x9">
            <iframe 
            src="{{ media.link }}" 
            class="embed-responsive-item" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="d-flex">
            <a href="{% url 'delete' media.content_type media.id %}" class="btn btn-danger">
                Eliminar
            </a>
            <a href="{% url 'update' media.content_type media.id %}" class="btn btn-primary">
                Editar
            </a>
        </div>
        {% endif %}
    </div>
</section>
<!--FIN DETALLE CONTENIDO-->
{% endblock %}