{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}
{% block content %}
    <header class="container-fluid">
          <div class="container-fluid">
              <img src="{% static 'img/header.jpg' %}" class="img-fluid mx-auto d-block" alt="muchos libros" style="
                width: 100%;
                height: auto;
                max-height: 40rem;
                object-fit: cover;
                object-position: top left;">
          </div>
    </header>
    <br>
    <section class="container-sm">
        <!--INICIO FILTROS-->
        <!--button type="button" class="btn btn-primary" data-bs-target="#offcanvasFiltros" data-bs-toggle="offcanvas" aria-controls="offCanvasFiltros">
            Filtros
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFiltros" aria-labelledby="offcanvasFiltrosLabel">
            <header class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasFiltrosLabel">Filtros</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </header>
            <section class="offcanvas-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Formato</h5>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="video" aria-label="video">
                        Video
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="pdf" aria-label="pdf">
                        PDF
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="imagen" aria-label="imagen">
                        Imagen
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="word" aria-label="word">
                        Word
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="excel" aria-label="excel">
                        Excel
                    </li>
                </ul>
            </section>
        </div-->
        <!--FIN FILTROS-->
        </section>
        <section class="container-fluid">
            <br>
        	{% if files %}
              {% for file in files %}
                {% if forloop.first %}<div class="row">{% endif %}
					<div class="col-3">
						<a href="file/{{ file.id }}" name="file">
							<div class="card mw-50">
								<img src="{{ file.cover.url }}" alt="{{ file.title }}" style="width:100%; max-width:20rem; height:auto;">
								<div class="card-body">
									<h5 class="card-title">{{ file.title }}</h5>
								</div>
							</div>
						</a>
					</div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
              {% endfor %}
            {% else %}
                <p>No hay archivos que mostrar</p>
            {% endif %}
                  <br>
            {% if videos %}
              {% for video in videos %}
                {% if forloop.first %}<div class="row">{% endif %}
						<div class="col-3">
							<a href="video/{{ video.id }}" name="video">
								<div class="card mw-50">
									<a href="{{ video.video.url }}"></a>
									<div class="card-body">
										<h5 class="card-title">{{ video.title }}</h5>
									</div>
								</div>
							</a>
						</div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
              {% endfor %}
            {% else %}
                <p>No hay videos que mostrar</p>
            {% endif %}
                  <br>
            {% if images %}
              {% for img in images %}
                {% if forloop.first %}<div class="row">{% endif %}
						<div class="col-3">
							<a href="image/{{ img.id }}" name="img">
								<div class="card mw-50">
									<img src="{{ img.img.url }}" class="card-img-top" alt="{{ img.title }}">
									<div class="card-body">
										<h5 class="card-title">{{ img.title }}</h5>
									</div>
								</div>
							</a>
						</div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
              {% endfor %}
            {% else %}
                <p>No hay imagenes que mostrar</p>
            {% endif %}
                  <br>
            {% if links %}
              {% for link in links %}
                {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-3">
						<a href="link/{{ link.id }}" name="link">
							<div class="card mw-50">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe src="{{ link.link }}" class="embed-responsive-item" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="card-body">
									<h5 class="card-title">{{ link.title }}</h5>
								</div>
							</div>
						</a>
                    </div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
              {% endfor %}
            {% else %}
                <p>No hay links que mostrar</p>
            {% endif %}
        </section>
        <!--INICIO PAGINACION-->
        <br>
        <div class="d-flex justify-content-center">
            <nav aria-label="navegacion">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
        <!--FIN PAGINACION-->
    </section>
    <!--INICIO FOOTER-->
    <footer class="bg-primary text-white text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Footer Content</h5>
      
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">example.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!--FIN FOOTER-->
{% endblock %}