<style>
	.img-card-grid > a {
		color: #000;
		text-decoration: none;
	}
	.img-card-grid > a:hover {
		color: #0d6efd
	}
	.img-card-grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(220px, 1fr));
		grid-gap: 4rem;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		margin-bottom: 6rem;
	}
    @media(max-width: 80em) {
        .img-card-grid {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
    }
    /*bien se hace una animación en para la transición de 4 a auto-fit*/
    /* igual agregar transiciones para el hover de las cards */
</style>
<section class="img-card-grid align-middle">
    <!--INICIO CARD DE CONTENIDO-->
    {% for media in page_obj %}
    <a href="{% url 'detail' media.content_type media.id %}">
        <div class="card">
            {% if media.content_type == 'file' %}
                <img  class="card-img-top" src="{{ media.cover.url }}" alt="{{ media.title }}">
            {% elif media.content_type == 'video' %}
                <!--no c bro deberia añadir un thumbnail o algo xd-->
                {% if media.thumbnail %}
                    <img class="card-img-top" src="{{ media.thumbnail.url }}" alt="{{ media.title }}">
                {% else %}
                    <video width="320" height="auto">
                        <source src="{{ media.video.url }}" type="video/mp4">
                    </video>
                {% endif %}

            {% elif media.content_type == 'image' %}
                <img src="{{ media.img.url }}" alt="{{ media.title }}">
            {% else %}
                {% if media.thumbnail %}
                    <img class="card-img-top" src="{{ media.thumbnail.url }}" alt="{{ media.title }}">
                {% else %}
                    <div class="ratio ratio-16x9">
                        <iframe src="{{ media.link }}"  
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>
                    </div>
                {% endif %}
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ media.title }}</h5>
                {% if media.author %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ media.author }}</h6>
                {% endif %}
            </div>
        </div>
    </a>
    {% empty %}
        {% if query %}
            <h5>No hay resultados para "{{ query }}" :(</h5>
        {% else %}
            <h5>No hay contenido que mostrar</h5>
        {% endif %}
    {% endfor %}
    <!--FIN CARD DE CONTENIDO-->
</section>