{% extends 'base.html' %}
{% block title %}Busqu&eacute;da{% endblock %}
{% block content %}
    <div>
        <h2>Resultados para "{{ query }}"</h2>
        <ul>
        <!--INICIO CARD DE CONTENIDO-->
		{% for media in page_obj %}
        <li>
            <a href="{% url 'detail' media.content_type media.id %}">
                <div class="card">
                    {% if media.content_type == 'file' %}
                        <img  class="card-img-top" src="{{ media.cover.url }}" alt="{{ media.title }}">
                    {% elif media.content_type == 'video' %}
                        <!--no c bro deberia añadir un thumbnail o algo xd-->
                        <video width="320" height="auto">
                            <source src="{{ media.video.url }}" type="video/mp4">
                        </video>
                    {% elif media.content_type == 'image' %}
                        <img src="{{ media.img.url }}" alt="{{ media.title }}">
                    {% else %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="{{ media.link }}" 
                                    class="embed-responsive-item" 
                                    title="YouTube video player" 
                                    frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                    allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ media.title }}</h5>
                        {% if media.content_type == 'file' or 'video' %}
                            <h6 class="card-subtitle mb-2 text-muted">{{ media.author }}</h6>
                        {% endif %}
                    </div>
                </div>
            </a>
        </li>
		{% empty %}
			<h5>No hay resultados para "{{ query }}" :(</h5>
		{% endfor %}
		<!--FIN CARD DE CONTENIDO-->
        </ul>
        <!--INICIO PAGINACIÓN-->
        {% include 'pagination.html' %}
        <!--FIN PAGINACIÓN-->
    </div>
{% endblock %}
