{% extends 'base.html' %}
{% block title %}Busqu&eacute;da{% endblock %}
{% block content %}
<style>
	a {
		color: #000;
		text-decoration: none;
	}
	a:hover {
		color: #0d6efd
	}
	.img-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
</style>
<div class="container-fluid">
    <h2>Resultados para "{{ query }}"</h2>
    {% include 'img-card-grid.html' %}
    <!--INICIO PAGINACIÓN-->
    {% include 'pagination.html' %}
    <!--FIN PAGINACIÓN-->
</div>
{% endblock %}
