{% extends 'base.html' %}
{% block title %}Subir contenido{% endblock %}
{% load static %}
{% block content %}
<style>
    img {
        height: calc(100% - 6.8rem);
        /*max-height: 25rem;  400 px */
        width: 100%;
        object-fit: cover;
    }
    .img-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    .img-card {
        display: block;
        text-align: center;
    }
</style>
<script defer>
    // Hace que el texto de ayuda en los formularios aparezca pequeño y gris
    // No funciona :(
    const formatHelpText = () => {
        let helpText = document.getElementsByClassName('helptext');
        console.log(helpText);
        for (let element of helpText) {
            element.classList.add('text-muted');
        }
        console.log(helpText);
    }
    formatHelpText();
</script>
<!--PENDIENTE REFACTORIZAR ESTA WEA HORRIBLE QUE SE REPITE SIN SENTIDO-->
<section class="container-fluid">
    <section class="img-card-grid align-middle">
        <div class="img-card">
            <a href="#videoModal" id="video" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="videoModal">
                <img src="{% static 'img/video-marketing.png' %}" class="img-thumbnail" alt="subir video">
                <h3>Video</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#archivoModal" id="archivo" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="archivoModal">
                <img src="{% static 'img/pdf-file.png' %}" class="img-thumbnail" alt="subir archvio">
                <h3>Archivo</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#linkYtModal" id="linkYt" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="linkYtModal">
                <img src="{% static 'img/url.png' %}" class="img-thumbnail" alt="subir video youtube">
                <h3>Link de YouTube</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#imagenModal" id="imagen" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="imagenModal">
                <img src="{% static 'img/image.png' %}" class="img-thumbnail" alt="subir imagen">
                <h3>Imagen</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="{% url 'signup' %}" id="registro" role="button">
                <img src="{% static 'img/signup.png' %}" class="img-thumbnail" alt="Registro">
                <h3>Registrar un administrador</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#carruselModal" id="carrusel" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="carruselModal">
                <img src="{% static 'img/carousel.png' %}" class="img-thumbnail" alt="Carrusel">
                <h3>Carrusel</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#categoriaModal" id="categoria" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="categoriaModal">
                <img src="{% static 'img/categoria.png' %}" class="img-thumbnail" alt="Categoría">
                <h3>Categoría</h3>
            </a>
        </div>
        <div class="img-card">
            <a href="#palabraModal" id="palabra" data-bs-toggle="modal" role="button" aria-expanded="false" aria-controls="palabraModal">
                <img src="{% static 'img/palabra.png' %}" class="img-thumbnail" alt="Palabras Clave">
                <h3>Palabras clave</h3>
            </a>
        </div>
    </section>
</section>
<!--INICIO MODAL-->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">Subir Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="POST" action="" class="mt-2" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ videoForm.as_p }}
                        <input type="hidden" name="name" value="videoForm">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir Video</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="archivoModal" tabindex="-1" aria-labelledby="archivoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archivoModalLabel">Subir Archivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="POST" action="" class="mt-2" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ fileForm.as_p }}
                        <input type="hidden" name="name" value="fileForm">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir Archivo</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="linkYtModal" tabindex="-1" aria-labelledby="linkYtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkYtModalLabel">Subir Link de YouTube</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="POST" action="" class="mt-2" autocomplete="off">                      
                        {% csrf_token %}
                        {{ ytLinkForm.as_p }}
                        <input type="hidden" name="name" value="ytLinkForm">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir Link</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagenModalLabel">Subir Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="post" action="." class="post-form mt-2" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ imageForm.as_p }}
                        <input type="hidden" name="name" value="imageForm">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir Imagen</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="carruselModal" tabindex="-1" aria-labelledby="carruselModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carruselModalLabel">Subir Imagen Carrusel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="post" action="." class="post-form mt-2" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ carouselForm.as_p }}
                        <input type="hidden" name="name" value="carouselForm">
                        <div class="modal-footer">
                            <a type="button" class="btn btn-success" href="{% url 'carousel' %}">Editar imagenes existentes</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir Imagen</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoriaModalLabel">Crear nueva categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="POST" action="" class="mt-2" autocomplete="off">
                        {% csrf_token %}
                        {{ categoryForm.as_p }}
                        <input type="hidden" name="name" value="categoryForm">
                        <div class="modal-footer">
                            <a type="button" class="btn btn-success" href="{% url 'categories' %}">Editar categorías existentes</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir categoría</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="palabraModal" tabindex="-1" aria-labelledby="palabraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagenModalLabel">Crear palabra clave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="d-flex justify-content-center">
                    <form method="post" action="." class="post-form mt-2" autocomplete="off">
                        {% csrf_token %}
                        {{ metaKeywordForm.as_p }}
                        <input type="hidden" name="name" value="metaKeywordForm">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success"><a href="{% url 'keywords' %}">Editar palabras existentes</a></button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="save btn btn-primary">Subir palabra clave</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!--FINAL MODAL-->
{% endblock %}